@import "_partials/_base/variables";
@import "_partials/_mixins/mixins";
@import "_partials/_base/cssVars";

html, body {
	margin: 0;
	padding: 0;
}

body {
	background: var(--main-background-color);
	color: var(--main-copy-color);
	font-size: var(--base-font-size);
	font-family: helvetica, arial, sans-serif;
	//transition: all 0.4s ease-in-out;
	* {
		box-sizing: border-box;
	}
}

p {
	font-weight: 300;
	line-height: 1.5rem;
}

a, p a {
	color: var(--primary-link-color);
	cursor: pointer;
	text-decoration: none;
	transition: color 0.4s ease-in-out;
}

a:hover , a:focus {
	color: var(--secondary-link-color);
	text-decoration: underline;
}

.badge {
	background-color: var(--main-background-color);
	color: var(--main-copy-color);
	cursor: pointer;
	text-decoration: none;
	transition: color 0.4s ease-in-out;
	padding: 10px 15px;
	border-radius: 15px;
	&:hover , &:focus {
		color: var(--main-copy-color);
		text-decoration: underline;
	}
}

a.buymeacoffee-link {
	display: inline-flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	position: relative;
	padding: 10px 20px;
	background-color: var(--secondary-background-color);
	color: var(--main-copy-color);
	border-radius: 15px;
	svg {
		width: auto;
		height: 30px;
		margin-right: 10px;
		#coffee {
			fill: var(--primary-link-color);
		}
		#cup-outline {
			fill: var(-main-copy-color);
		}
	}
}

input {
	position: relative;
	width: 130px;
	border: none;
	padding: 5px 10px;
	background-color: var(--secondary-background-color);
	color: var(--main-copy-color);
	border-radius: 3px;
	&:focus {
		outline: none;
		background-color: var(--primary-background-color);
	}

	@include media('tabletUpwards') {
		width: auto;
		padding: 10px 20px;
	}
}

header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: center;
	background-color: var(--main-background-color);
	color: var(--main-copy-color);
	padding: 10px var(--container-padding);
	z-index: 9;

	.logo {
		position: relative;
		display: flex;
		flex-wrap: nowrap;
		align-items: center;
		margin-right: auto;
		svg {
			height: 30px;
			width: auto;
			margin-right: 10px;
		}
		color: var(--primary-link-color);
		font-weight: 600;

		@include media('tabletUpwards') {
			svg {
				height: 40px;
			}
		}
	}

	.theme {
		position: relative;
		background-color: var(--primary-background-color);
		border: 1px solid var(--secondary-background-color);
		width: auto;
		margin-left: 10px;
		padding: 5px 10px;
		border-radius: 15px;
		cursor: pointer;
		svg {
			width: auto;
			height: 20px;
			#bulb {
				fill: var(--theme-toggle-main-color);
			}
			#light {
				fill: var(--theme-toggle-secondary-color);
				opacity: var(--theme-toggle-bulb-light);
			}
		}
		&:hover {
			background-color: var(--secondary-background-color);
		}

		@include media('tabletUpwards') {
			svg {
				height: 30px;
			}
		}
	}

}

.hero {
	position: relative;
	background-color: var(--main-background-color);
	background-image: $heroBG;
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: auto;
	min-height: 50vh;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: var(--container-padding);
	&:after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: var(--main-background-overlay);
		z-index: 0;
	}
	.inner {
		width: 100%;
		max-width: $maxWidth;
		margin: 0 auto;
		z-index: 1;
	}
}

.list {
	display: inline-block;
	margin: 0;
	position: relative;
	background-color: var(--secondary-background-color);
	width: 100%;
	.list-inner {
		margin: 0 auto;
		max-width: 960px;
		padding: 40px 20px;
		width: 100%;
	}
	.sort {
		margin: 0 auto;
		max-width: 960px;
		padding: 20px 20px 10px 20px;
		width: 100%;
	}
}

#list {
	align-items: stretch;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: auto;
	justify-content: flex-start;
	margin: 0 auto;
	max-width: 960px;
	padding: 0;
	width: 100%;
	.single {
		display: inline-block;
		float: left;
		list-style: none;
		margin: 5px 2.5%;
		position: relative;
		text-align: center;
		width: 45%;
		@include media('mobileUpwards') {
			margin: 5px;
			min-width: 140px;
			width: auto;
		}
		a {
			background: transparent;
			border-radius: 5px;
			color: var(--secondary-copy-color);
			display: inline-block;
			font-weight: lighter;
			padding: 10px;
			text-decoration: none;
			transition: all 0.2s ease-in-out;
			width: 100%;
			&:hover,
			&:focus {
				background: var(--main-background-color);
				color: var(--main-copy-color);
				.folder-icon {
					path {
						fill: var(--secondary-link-color);
					}
				}
			}
			&:visited {
				background: transparent;
				color: var(--secondary-copy-color);
			}
			.folder-icon {
				path {
					fill: var(--primary-link-color);
					transition: all 0.2s ease-in-out;
				}
			}
		}
	}
	.row-divider {
		border-bottom: 1px solid var(--main-background-color);
		color: var(--main-copy-color);
		display: inline-block;
		font-size: 18px;
		font-weight: lighter;
		margin: 10px 0;
		padding: 0 0 10px 0;
		text-transform: uppercase;
		width: 100%;
	}
}

footer {
	position: relative;
	background-color:var(--main-background-color);
	padding: 10px var(--container-padding);
	width: 100%;
	.inner {
		margin: 0 auto;
		max-width: 960px;
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		p {
			color: var(--secondary-copy-color);
			font-size: 14px;
			span {
				color: var(--love-color);
			}
		}
	}
}
